
DATABASE_URL="postgresql://postgres:Vadk1rxn@localhost:5432/bitrix" 

# Системный админ (создается автоматически)
SYSTEM_ADMIN_EMAIL="ziryanovvalentin2@gmail.com"
SYSTEM_ADMIN_PASSWORD="123456789"
SYSTEM_ADMIN_NAME="Системный Администратор"

# JWT
JWT_SECRET=aaaaaaaaaaaaaaaaaaaa
JWT_REFRESH_SECRET=aaaaaaaaaaaaaaaa
JWT_ACCESS_EXPIRES=1800
# JWT_ACCESS_EXPIRES=30
JWT_REFRESH_EXPIRES=904800
# JWT_REFRESH_EXPIRES=120


# Email (для Gmail)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER="ziryanovvalentin2@gmail.com"
MAIL_PASSWORD="eolv idwt awoz bevm"
MAIL_FROM="Shop" <noreply@shop.com>

# Redis
REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_PASSWORD="Vadk1rxn"

APP_NAME="НИТИ ВИРДА"